<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Base Temlate{% endblock %}</title>
    <style>
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixet;
            botton: 0;
            width: 100%;
        }
    </style>>
</head>
<body>
    <header>
        <h1>Django<h1>
    <header>

     <div class="content">
         {% block content %}
         {% endblock %}
     </div>

     <footer>
         <p>&copy; Django</p>
     <footer>

</body>
</html>